.header {
  &-row {
    display: flex;
    padding: 0px 15px;
    &:nth-child(1) {
      flex-direction: row-reverse;
      align-items: center;
    }
    &:nth-child(2) {
      padding: 10px 15px;
    }
  }
  &-languages {
    & > select {
      padding: 8px 10px;
      margin: 4px 0px;
      background-color: #ddd;
      color: #0000ff;
    }
  }
  &-login {
    margin-right: 20px;
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    & > i {
      padding: 0 3px;
      font-weight: 500;
      font-size: 12px;
    }
    &:hover {
      cursor: pointer;
      color: #f36e36;
    }
  }
  &-userInfo {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    & > div > i {
      font-size: 28px;
      padding-bottom: 12px;
    }
    & > div > p {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 0.3px;
    }
    &-cart,
    &-account {
      &:hover {
        color: #999;
        cursor: pointer;
      }
    }
    &-account {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #ebebeb;
    }
    &-cart {
      position: relative;
      & > span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -8px;
        right: -8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #f3b714;
      }
    }
  }
  &-brand {
    width: 196px;
    height: 95px;
    & > img {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-search {
    display: flex;
    align-items: center;
    padding-left: 50px;
    & > input {
      padding: 12px;
      padding-right: 0px;
      height: 42px;
      min-width: 360px;
      font-size: 11px;
      color: #6d6c6c;
      border-right: none;
      outline: none;
      border: 1px solid #ebebeb;
      border-right: none;
      &:focus {
        outline: none;
        border: 1px solid #ebebeb;
      }
    }
    & > i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background-color: #f8f8f8;
      border: 1px solid #ebebeb;
      border-left: none;
      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
    }
  }
}
