.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
}

.header-row:nth-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row:nth-child(2) {
  padding: 10px 15px;
}

.header-languages > select {
  padding: 8px 10px;
  margin: 4px 0px;
  background-color: #ddd;
  color: #0000ff;
}

.header-login {
  margin-right: 20px;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}

.header-login > i {
  padding: 0 3px;
  font-weight: 500;
  font-size: 12px;
}

.header-login:hover {
  cursor: pointer;
  color: #f36e36;
}

.header-userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-userInfo > div > i {
  font-size: 28px;
  padding-bottom: 12px;
}

.header-userInfo > div > p {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.3px;
}

.header-userInfo-cart:hover, .header-userInfo-account:hover {
  color: #999;
  cursor: pointer;
}

.header-userInfo-account {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #ebebeb;
}

.header-userInfo-cart {
  position: relative;
}

.header-userInfo-cart > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f3b714;
}

.header-brand {
  width: 196px;
  height: 95px;
}

.header-brand > img {
  width: 100%;
}

.header-brand:hover {
  cursor: pointer;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

.header-search > input {
  padding: 12px;
  padding-right: 0px;
  height: 42px;
  min-width: 360px;
  font-size: 11px;
  color: #6d6c6c;
  border-right: none;
  outline: none;
  border: 1px solid #ebebeb;
  border-right: none;
}

.header-search > input:focus {
  outline: none;
  border: 1px solid #ebebeb;
}

.header-search > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  border-left: none;
}

.header-search > i:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */