@font-face {
  font-family: SFUIDisplay-Light;
  src: url("./fonts/SF-UI-Display-Light.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: SFUIDispay-light;
}
body {
  line-height: 1.7;
  font-size: 14px;
}
